{% extends './base.html' %}
{% load static %}




{% block mainContent %}



    <div class="content">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-11">
                        <h1>Make a Deposit</h1>
                        
                        <h3>We reimburse 100% of any fees incurred during the payment process.</h3>
                    </div>
                    
            </div>



            <div class="row">
                <div class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card" style="text-align: center;">
                            <!-- <div class="card-header card-header-icon" data-background-color="rose">
                              <i class="material-icons">assignment</i>
                            </div> -->
                            <div class="card-content">
                              <h2 class="card-title">Payment Methods</h2>

                              <div>
                                <a class="btn btn-danger btn-round" href="{% url 'pay_with_bitcoin' %}">Payment with Bitcoin<div class="ripple-container"></div></a>
                                <a class="btn btn-danger btn-round" href="{% url 'payment-with-card' %}">Payment with Credit Card<div class="ripple-container"></div></a>
                              </div>
                             <!-- <div class="table-responsive">
                                <table class="table">
                                  <thead class="text-primary">
                                  <tr><th>Transfer Method</th>
                                  <th>Currency</th>
                                  <th>Fees/Commission</th>
                                  <th>Processing Time</th>
                                  <th>Credit</th>
                                  <th>..</th>
                                  </tr></thead>
                                  <tbody>
                                  <tr>
                                    <td>Local Banking</td>
                                    <td>NGN</td>
                                    <td>no Commission</td>
                                    <td class="text-primary">Usually instant when required documents are in place</td>
                                  
                                    <td></td>
                                    <td><button class="btn btn-danger">
                                        Deposit
                                      </button></td>
                                  </tr>

                                  

                                  <tr>
                                    <td>First Banck Plc</td>
                                    <td>USD,NGN</td>
                                    <td>no Commission</td>
                                    <td class="text-primary">1 Buisness day</td>
                                
                                    <td></td>
                                    <td><button class="btn btn-danger">
                                        Deposit
                                      </button></td>
                                  </tr>


                                  </tbody>
                                </table> -->
                              
                              </div>
                            </div>
                          </div>
              
                         
              
                        
                        </div>
                      </div>
              

                      <div class="row">
                        <div class="col-md-11">
                            <div class="card">
                                <!-- <div class="card-header card-header-icon" data-background-color="green">
                                    <i class="fas fa-chart-pie"></i>
                                </div> -->
                                <div class="card-content">
                                    <h2 class="card-title">Important Information</h2>
                                    <div class="row" style="padding: 1rem;">
                                <p>
                                    In case of no trading activity, or if any form of abuse is found relating to the reimbursement policy, FXTM reserves the right to reclaim any reimbursement fees. If you request to withdraw your funds after no trading activity, FXTM reserves the right to charge you the equivalent amount of any banking fees incurred, or 3% of the total withdrawal amount.
                                </p>    

                                <p>
                                    Deposits are processed instantly in case there is no need for additional verification. FXTM is not liable for any transfer delays you may experience due to a disruption of service in the system of the payment processor.
                                </p>
                                <p>
                                    All Back office transfers are processed during standard business hours, i.e. 06:00-20:00 GMT +2 (GMT+3 during DST), Mon-Fri and Sunday 09:00 - 18:00 GMT+2 (GMT+3 DST).
                                </p>
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                </div>


                    </div>
                  </div>
            </div>





        </div>
    </div>


{% endblock mainContent %}


