{% extends './base.html' %}
{% load static %}




{% block mainContent %}



    <div class="content">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-11">
                        <div class="card">
                            <div class="card-header card-header-icon" data-background-color="green">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                            <div class="card-content">
                                <h4 class="card-title">Welcome back</h4>
                                <div class="row" style="padding: 1rem;">
                                
                                        <p>Notice!! All payment Should be paid to the company official Bitcoin Wallet</p>
                                        <p>Company Wallet: <strong>3CVtV2gM38N6CR3biisf4GguQj1U6vSTUP</strong></p>
                                        <p>
                                            This page provides an overview of your accounts. Click the action buttons to perform deposits, withdrawals and other available actions.
                                        </p>
                                

                                </div>
                            </div>
                        </div>
                    </div>
                    
            </div>



            <div class="row">
                <div class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header card-header-icon" data-background-color="rose">
                              <i class="material-icons">assignment</i>
                            </div>
                            <div class="card-content">
                              <h4 class="card-title">My Trading Accounts</h4>
                              <div class="table-responsive">
                                <table class="table">
                                  <thead class="text-primary">
                                  <tr><th>Name</th>
                                  <th>Account number</th>
                                  <th>Leverage</th>
                                  <th>Balance</th>
                                  <th>Credit</th>
                                  <th>..</th>
                                  </tr></thead>
                                  <tbody>
                                  <tr>
                                    <td>Dakota Rice</td>
                                    <td>6615657</td>
                                    <td>1:55</td>
                                    <td class="text-primary">usd 0.00</td>
                                    <td>USD 0.00</td>
                                    <td></td>
                                    <td><button class="btn btn-danger">
                                        Deposit
                                      </button></td>
                                  </tr>
                                  
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
              
                         
              
                        
                        </div>
                      </div>
              
                    </div>
                  </div>
            </div>





        </div>
    </div>




{% endblock mainContent %}

