{% extends './base.html' %}
{% load static %}




{% block mainContent %}



    <div class="content">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-11">
                        <h1>Transaction History</h1>
                        
                        <!-- <h3>We reimburse 100% of any fees incurred during the payment process.</h3> -->
                    </div>
                    
            </div>



            <div class="row">
                <div class="content">
                    <div class="container-fluid">
                      <div class="row">
                      
                        <div class="col-md-12">
                            <div class="card card-plain">
                              <div class="card-header card-header-icon" data-background-color="rose">
                                <i class="material-icons">assignment</i>
                              </div>
                              <h4 class="card-title">Deposits</h4>
                              <!-- <p class="category">Here is a subtitle for this table</p> -->
              
                              <div class="card-content">
                                <div class="table-responsive">
                                  <table class="table table-hover">
                                    <thead>
                                    <tr><th>Number</th>
                                    <th>Payment System</th>
                                    <th>To Account</th>
                                    <th>Amount*</th>
                                    <th>Date Request</th>
                                    <th>Status</th>
                                    <th></th>
                                    </tr></thead>
                                    <tbody>
                                    <tr>
                                        <td>28374834</td>
                                        <td>First Bank Plc</td>
                                        <td>28374834</td>
                                        <td>USD 0.04</td>
                                        <td>27.03.2020 11:35</td>
                                        <td>Funds deposited to account</td>
                                        <td>
                                            <button class="btn btn-success">
                                                <span class="btn-label">
                                                    <i class="material-icons">check</i>
                                                </span>
                                          Repeat
                                        <div class="ripple-container"></div></button>

                                        </td>


                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>

                      </div>


                      <div class="row">
                      
                        <div class="col-md-12">
                            <div class="card card-plain">
                              <div class="card-header card-header-icon" data-background-color="rose">
                                <i class="material-icons">assignment</i>
                              </div>
                              <h4 class="card-title">Deposits</h4>
                              <!-- <p class="category">Here is a subtitle for this table</p> -->
              
                              <div class="card-content">
                                <div class="table-responsive">
                                  <table class="table table-hover">
                                    <thead>
                                    <tr><th>Number</th>
                                    <th>From Account</th>
                                    <th>Payment System</th>
                                    <th>Amount*</th>
                                    <th>Date Request</th>
                                    <th>Status</th>
                                    <th></th>
                                    </tr></thead>
                                    <tbody>
                                    <tr>
                                        <td>28374834</td>
                                        <td>26255333</td>
                                        <td>Account Maintenance</td>
                                        <td>USD 0.04</td>
                                        <td>27.03.2020 11:35</td>
                                        <td>Funds sent</td>
                                        <td>
                                            <button class="btn btn-success">
                                                <span class="btn-label">
                                                    <i class="material-icons">check</i>
                                                </span>
                                          Cancel
                                        <div class="ripple-container"></div></button>

                                        </td>


                                    </tr>

                                    <tr>
                                        <td>28374834</td>
                                        <td>26255333</td>
                                        <td>Account Maintenance</td>
                                        <td>USD 0.04</td>
                                        <td>27.03.2020 11:35</td>
                                        <td>Funds sent</td>
                                        <td>
                                            <button class="btn btn-success">
                                                <span class="btn-label">
                                                    <i class="material-icons">check</i>
                                                </span>
                                          Cancel
                                        <div class="ripple-container"></div></button>

                                        </td>


                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>

                      </div>
              

                      <div class="row">
                        <div class="col-md-11">
                            <div class="card">
                                <!-- <div class="card-header card-header-icon" data-background-color="green">
                                    <i class="fas fa-chart-pie"></i>
                                </div> -->
                                <div class="card-content">
                                    <h2 class="card-title">Important Information</h2>
                                    <div class="row" style="padding: 1rem;">
                                            <p>
                                                All Back office transfers are processed during standard business hours, i.e. 06:00-20:00 GMT +2 (GMT+3 during DST), Mon-Fri and Sunday 09:00 - 18:00 GMT+2 (GMT+3 DST).
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                </div>


                    </div>
                  </div>
            </div>





        </div>
    </div>


{% endblock mainContent %}


