{% extends './base.html' %}
{% load static %}




{% block mainContent %}



    <div class="content">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-11">
                        <h1>Verify your Payment Method</h1>
                        <h3>Verifying your ID and Proof of Residence will allow you to make withdrawals from your account.</h3>
                    </div>
                    
            </div>



            <div class="row">
                <div class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header card-header-icon" data-background-color="rose">
                              <i class="material-icons">assignment</i>
                            </div>
                            <div class="card-content">
                              <!-- <h4 class="card-title">Our Plans</h4> -->
                              <h4>
                                You don’t have to do it now, but we encourage you to upload your documents for quicker processing of your future transactions with this payment method.
                              </h4>
                              

                              <button class="btn btn-success">
                                <span class="btn-label">
                                    <i class="material-icons">check</i>
                                </span>
                         upload
                        </button>

                            </div>
                          </div>
              
                         
              
                        
                        </div>
                      </div>
              



                    </div>
                  </div>
            </div>





        </div>
    </div>


{% endblock mainContent %}


