{% extends './base.html' %}
{% load static %}




{% block mainContent %}



    <div class="content">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-md-11">
                        <h1>Withdraw Funds</h1>
                        
                        <!-- <h3>We reimburse 100% of any fees incurred during the payment process.</h3> -->
                    </div>
                    
            </div>



            <div class="row">
                <div class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header card-header-icon" data-background-color="rose">
                              <i class="material-icons">assignment</i>
                            </div>
                            <div class="card-content">
                              <h4 class="card-title">Our Plans</h4>
                              <div class="table-responsive">
                                <table class="table">
                                  <thead class="text-primary">
                                  <tr><th>Transfer Method</th>
                                  <th>Currency</th>
                                  <th>Fees/Commission</th>
                                  <th>Processing Time</th>
                                  <!-- <th>Credit</th> -->
                                  <th>..</th>
                                  </tr></thead>
                                  <tbody>
                                  <tr>
                                    <td>Local Banking</td>
                                    <td>NGN</td>
                                    <td>no Commission</td>
                                    <td class="text-primary">Usually instant when required documents are in place</td>
                                    <!-- <td>USD 0.00</td> -->
                                    <td></td>
                                    <td><button class="btn btn-danger">
                                        Withdraw
                                      </button></td>
                                  </tr>

                                  

                                  <tr>
                                    <td>First Banck Plc</td>
                                    <td>USD,NGN</td>
                                    <td>no Commission</td>
                                    <td class="text-primary">1 Buisness day</td>
                                    <!-- <td>USD 0.00</td> -->
                                    <td></td>
                                    <td><button class="btn btn-danger">
                                        Withdraw
                                      </button></td>
                                  </tr>


                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
              
                         
              
                        
                        </div>
                      </div>
              

                      <div class="row">
                        <div class="col-md-11">
                            <div class="card">
                                <!-- <div class="card-header card-header-icon" data-background-color="green">
                                    <i class="fas fa-chart-pie"></i>
                                </div> -->
                                <div class="card-content">
                                    <h2 class="card-title">Important Information</h2>
                                    <div class="row" style="padding: 1rem;">
                                            <p>
                                                All Back office transfers are processed during standard business hours, i.e. 06:00-20:00 GMT +2 (GMT+3 during DST), Mon-Fri and Sunday 09:00 - 18:00 GMT+2 (GMT+3 DST).
                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                </div>


                    </div>
                  </div>
            </div>





        </div>
    </div>


{% endblock mainContent %}


