/* hacks for ie9 only */
@media screen and (min-width:0\0) and (min-resolution: .001dpcm) {
    .steps-list {
        display: block;
    }
    .step {
        height: 140px;
    }
    .step-number {
        margin-right: 20px;
    }
    .rtl .step-number {
        margin-left: 20px;
    }
    .rtl .step-line {
        right: 63px !important;
    }
}

@media screen and (min-width:0\0) and (min-resolution: .001dpcm) and (max-width: 991px) {
    .step-declaration {
        width: auto;
        max-width: none;
    }
}

@media screen and (min-width:0\0) and (min-resolution: .001dpcm) and (max-width: 767px) {
    .step {
        display: inline-block;
        width: 23%;
        height: auto;
        text-align: center;
    }
    .step-number {
        float: none;
        margin: 0 auto;
    }
}
