@media print {
    * {
        -webkit-print-color-adjust:exact !important;
    }

    .contacts-widget {
        display: none;
    }
    .footer-disclaimer {
        display: none;
    }
    a[href]:after {
    content: none !important;
    }
    .activ-logo, .activ-logo svg {
        fill: #e6e8e7;
    }

    .flip-card .card-back-side {
        display: none;
    }

    .flip-card.is-flipped .card-front-side {
        display: none;
    }

    .flip-card.is-flipped .card-back-side {
        display: block;
    }
}